{#
/**
 * Implementing HelloBlock().
#}

  <div class="custom-block">
  <p>{{ test_var }}</p>
  <p> <span>{{ 'Hello, ' ~ firstName_entered }}</span>
  <span>{{ lastName_entered ~ '!' }}</span> </p>

  </div>
